{% extends "base.html" %}

{% block body %}

<div class="container">

    <h2 class="text-danger">
        Errors
    </h2>

    <div id="error-window">
        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>

        <h1>
            error
        </h1>


    </div>


    <!-- Try again button -->
    <div class="d-grid gap-2" style="margin-top: 2rem;">
        <button type="button" class="btn btn-primary btn-lg margin-top d-flex justify-content-center"
                style="padding: 0.7rem 7rem 0.7rem 7rem;">
            Try again
        </button>
    </div>

</div>

{% endblock %}