{% extends 'base.html' %}

{% block body %}

    <!-- host input -->
    <div class="input-group mb-3 margin-top">
        <span class="input-group-text" id="host-input">
             <i class="material-icons">dns</i> Host:
        </span>

        <input type="text" class="form-control" placeholder="criptapp.org"
               aria-label="place host here" aria-describedby="host-input">
    </div>

    <!-- api token input -->
    <div class="input-group mb-3 margin-top">
        <span class="input-group-text" id="api-token-input">
             <i class="material-icons">key</i> API Token:
        </span>

        <input type="password" class="form-control"
               placeholder="Token 012345e678910b111213a14151617181b9202122"
               aria-label="place host here" aria-describedby="api-token-input">
    </div>

    <!-- project name input -->
    <div class="input-group mb-3 margin-top">
        <span class="input-group-text" id="project-name-input">
             <i class="material-icons">insert_chart</i> Project Name:
        </span>

        <input type="text" class="form-control" placeholder="My Project Name"
               aria-label="place host here" aria-describedby="project-name-input">
    </div>

    <!-- collection name input -->
    <div class="input-group mb-3 margin-top">
        <span class="input-group-text" id="collection-name-input">
             <i class="material-icons">article</i> Collection Name:
        </span>

        <input type="text" class="form-control" placeholder="My Collection Name"
               aria-label="place host here" aria-describedby="collection-name-input">
    </div>

    <!-- TODO get excel file path and not just file name-->
    <div class="mb-3 margin-top">
        <input class="form-control" type="file" id="formFile" accept="*.xlsx">
    </div>

    <!-- TODO button needs to be centered -->
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg margin-top d-flex justify-content-center"
                style="padding: 0.7rem 7rem 0.7rem 7rem;">
            Upload
        </button>
    </div>


</div>
{% endblock %}