body {
    --cript-primary-color: #4c2a80;
}

.material-icons {
    vertical-align: bottom;
}

.margin-top {
    margin-top: 1.5rem;
}

.margin-right {
    margin-right: 1rem;
}

/* start screen styles */
#data-privacy-label {
    font-size: 1.1rem;
    font-weight: 500;
    width: 10rem;
}

.hidden {
    display: block;
}

#data-privacy-options {
    margin-top: 1.2rem;
}

/* start_screen style end */

#error-window {
    height: 20rem;
    width: 100%;
    background-color: #f5f5f5;
    overflow-y: scroll;
    padding: 1rem;
    border-radius: 1rem;
}

.documentation-link {
    color: #bdbdbd;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 1rem;
}