name: Compile Excel Uploader GUI for Windows
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: pip install dependencies
        run: pip install -r requirements.txt
      - name: compile with pyinstaller
          cd ./src/python/
          python -m eel gui_main.py ../web